
.container .new-tweet {
  background-color: #eee;
  /*top/bottom left/right*/
  margin: 0 2em;
  /*top, right, bottom, left */
  padding: 3em 1em 2em 1em;
  border-radius: 9px;
  border: 1.5px solid #d6d6d6;
  display: none;
  }

.new-tweet h2 {
  margin: auto;
  margin-top: -25px;
  border-bottom: solid;
  border-bottom-width: 1px;
  display: block;
  }

.new-tweet textarea {
  /*top, right, bottom, left */
  padding: 0.5em 2em 1em 0.5em;
  width: 100%;
  margin-top: 23px;
  }

.new-tweet .counter {
  float: right;
  font-style: italic;
  padding-right: 0.75em;
  }

/*counter error*/
.red {
  color: red;
  }

/*.error-message {
  width: 80%;
  margin: 0 auto;
  margin-top: -69px;
  margin-bottom: 30px;
  padding: .5em 1em .5em 1em;
  border: 1px solid #d6d6d6;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #ff000029;
  color: #ff0000;


  position: relative;
  width: 340px;
  line-height: 20px;
  padding: 10px;
  border-radius: 6px;
  background: #727272;
  color: #FFF;
}*/

/*add an arrow*/
/*.error-message:before {
    content: "";
    display: block;
    position: absolute;
    top: 16px;
    left: -12px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #727272;
}*/