
.container .new-tweet {
  background-color: #eee;
  /*top/bottom left/right*/
  margin: 0 2em;
  /*top, right, bottom, left */
  padding: 3em 1em 2em 1em;
  border-radius: 9px;
  border: 1.5px solid #d6d6d6;
  display: none;
  }

.new-tweet h2 {
  margin: auto;
  margin-top: -25px;
  border-bottom: solid;
  border-bottom-width: 1px;
  display: block;
  }

.new-tweet textarea {
  /*top, right, bottom, left */
  padding: 0.5em 2em 1em 0.5em;
  width: 100%;
  margin-top: 23px;
  }

.new-tweet .counter {
  float: right;
  font-style: italic;
  padding-right: 0.75em;
  }

/*counter error*/
.red {
  color: red;
  }

.error-message {
  display:none;
  position: relative;
  width: 85%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 2em 0em 2em 0em;
  border: 1px solid red;
  border-radius: 40px;
  background-color: #FF9D9D;
  color: red;
}

/*add an arrow*/
.error-message::before {
  content: "";
  position: absolute;
  display: block;
  top: -11px;
  left: 170px;
  width: 0;
  height: 0;
  border-bottom: 12px solid #FF9D9D;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  z-index: 1;
}

/*adds border to arrow*/
.triangle {
  position: absolute;
  display: block;
  z-index: 1;
  top: -9px;
  left: 174px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border-top: 1px solid red;
  border-left: 1px solid red;
  transform: rotate(45deg);
}

.error-text {
  padding: 0px 0px 0px 44px;
}
